In [1]:
import pandas as pd
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
from sqlalchemy.types import *

In [2]:
title_basics = pd.read_csv("Data/title_basics.csv.gz")
title_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama

In [3]:
title_ratings = pd.read_csv("Data/title_ratings.csv.gz")
title_ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1952
1  tt0000002            5.8       264
2  tt0000005            6.2      2586
3  tt0000006            5.1       177
4  tt0000007            5.4       812

In [4]:
tmdb_data = pd.read_csv("Data/tmdb_results_combined.csv.gz")
tmdb_data.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.5,22.0,NaN
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.1,8.0,NaN
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,4.0,1.0,NaN
4,tt0116748,0.0,/wr0hTHwkYIRC82MwNbhOvqrw27N.jpg,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,579396.0,hi,Karobaar,...,0.0,180.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,The Business of Love,Karobaar,0.0,5.5,2.0,NaN

In [5]:
## create a col with a list of genres
title_basics['genres_split'] = title_basics['genres'].str.split(',')
title_basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,[Drama]
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,[Drama]
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama,[Drama]
...,...,...,...,...,...,...,...,...,...,...
80913,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019.0,NaN,74,Drama,[Drama]
80914,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019.0,NaN,97,"Comedy,Drama,Fantasy","[Comedy, Drama, Fantasy]"
80915,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51,Drama,[Drama]
80916,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller","[Action, Adventure, Thriller]"
80917,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History","[Drama, History]"

In [6]:
exploded_genres = title_basics.explode('genres_split')
exploded_genres

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Fantasy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Romance
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,Drama
...,...,...,...,...,...,...,...,...,...,...
80916,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Action
80916,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Adventure
80916,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Thriller
80917,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History",Drama
80917,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History",History

In [7]:
unique_genres = sorted(exploded_genres['genres_split'].unique())

In [8]:
title_genres = exploded_genres[['tconst','genres_split']].copy()
title_genres.head()

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance
1  tt0062336        Drama
2  tt0069049        Drama

In [9]:
## Making the genre mapper dictionary
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Short': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25}

In [10]:
genre_id_map = dict(zip(unique_genres, range(len(unique_genres))))
genre_id_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Short': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25}

In [11]:
## make new integer genre_id and drop string genres
title_basics['genre_id'] = title_basics['genres_split'].replace(genre_map)
title_basics = title_basics.drop(columns='genres_split')
title_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genre_id
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,[Drama]
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,[Drama]
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama,[Drama]

In [12]:
genres = pd.DataFrame({'Genre_Name':genre_id_map.keys(),
                             'Genre_ID':genre_id_map.values()})
genres.head()

  Genre_Name  Genre_ID
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

In [13]:
title_basics = title_basics.drop(columns=['originalTitle','isAdult','titleType','genres'])
title_basics.head()

,tconst,primaryTitle,startYear,endYear,runtimeMinutes,genre_id
0,tt0035423,Kate & Leopold,2001.0,NaN,118,"[Comedy, Fantasy, Romance]"
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,NaN,70,[Drama]
2,tt0069049,The Other Side of the Wind,2018.0,NaN,122,[Drama]
3,tt0088751,The Naked Monster,2005.0,NaN,100,"[Comedy, Horror, Sci-Fi]"
4,tt0096056,Crime and Punishment,2002.0,NaN,126,[Drama]

In [14]:
tmdb_data = tmdb_data[['imdb_id','budget','revenue','certification']].copy()
tmdb_data.head()

     imdb_id      budget  revenue certification
0          0         NaN      NaN           NaN
1  tt0113026  10000000.0      0.0           NaN
2  tt0113092         0.0      0.0           NaN
3  tt0116391         0.0      0.0           NaN
4  tt0116748         0.0      0.0           NaN

In [15]:
username = "root"
password = "root"
db_name = "movies"
connection = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"
engine = create_engine(connection)

In [16]:
if database_exists(connection) == False:
  create_database(connection)
else:
  print('The database already exists')
database_exists(connection)

The database already exists

True

In [17]:
## get max string length
max_str_len = title_basics['tconst'].fillna('').map(len).max()

## Calculate max string lengths for object columns
key_len = title_basics['tconst'].fillna('').map(len).max()
title_len = title_basics['primaryTitle'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
df_schema = {
    "tconst": String(key_len+1), 
    "primaryTitle": Text(title_len+1),
    'startYear':Float(),
    'endYear':Float(),
    'runtimeMinutes':Integer()}

In [18]:
## get max string length
max_str_len = title_ratings['tconst'].fillna('').map(len).max()

## Calculate max string lengths for object columns
key_len = title_ratings['tconst'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
df_schema = {
    "tconst": String(key_len+1), 
    'averageRating': Float(),
    'numVotes': Integer()},

In [19]:
## get max string length
max_str_len = tmdb_data['imdb_id'].fillna('').map(len).max()

## Calculate max string lengths for object columns
key_len = tmdb_data['imdb_id'].fillna('').map(len).max()
title_len = tmdb_data['certification'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
df_schema = {
    "imdb_id": String(key_len+1), 
    'budget':Float(),
    'revenue':Float(),
    'certification':Text(title_len+1)}

In [22]:
title_basics.to_sql('title_basics',engine,dtype=df_schema,if_exists='replace',index=False)

OperationalError: (pymysql.err.OperationalError) (1241, 'Operand should contain 1 column(s)')
[SQL: INSERT INTO title_basics (tconst, `primaryTitle`, `startYear`, `endYear`, `runtimeMinutes`, genre_id) VALUES (%(tconst)s, %(primaryTitle)s, %(startYear)s, %(endYear)s, %(runtimeMinutes)s, %(genre_id)s)]
[parameters: ({'tconst': 'tt0035423', 'primaryTitle': 'Kate & Leopold', 'startYear': 2001.0, 'endYear': None, 'runtimeMinutes': 118, 'genre_id': ['Comedy', 'Fantasy', 'Romance']}, {'tconst': 'tt0062336', 'primaryTitle': 'The Tango of the Widower and Its Distorting Mirror', 'startYear': 2020.0, 'endYear': None, 'runtimeMinutes': 70, 'genre_id': ['Drama']}, {'tconst': 'tt0069049', 'primaryTitle': 'The Other Side of the Wind', 'startYear': 2018.0, 'endYear': None, 'runtimeMinutes': 122, 'genre_id': ['Drama']}, {'tconst': 'tt0088751', 'primaryTitle': 'The Naked Monster', 'startYear': 2005.0, 'endYear': None, 'runtimeMinutes': 100, 'genre_id': ['Comedy', 'Horror', 'Sci-Fi']}, {'tconst': 'tt0096056', 'primaryTitle': 'Crime and Punishment', 'startYear': 2002.0, 'endYear': None, 'runtimeMinutes': 126, 'genre_id': ['Drama']}, {'tconst': 'tt0100275', 'primaryTitle': 'The Wandering Soap Opera', 'startYear': 2017.0, 'endYear': None, 'runtimeMinutes': 80, 'genre_id': ['Comedy', 'Drama', 'Fantasy']}, {'tconst': 'tt0103340', 'primaryTitle': 'Life for Life: Maximilian Kolbe', 'startYear': 2006.0, 'endYear': None, 'runtimeMinutes': 90, 'genre_id': ['Biography', 'Drama']}, {'tconst': 'tt0108549', 'primaryTitle': 'West from North Goes South', 'startYear': 2004.0, 'endYear': None, 'runtimeMinutes': 96, 'genre_id': ['Comedy', 'Mystery']}  ... displaying 10 of 80918 total bound parameter sets ...  {'tconst': 'tt9916190', 'primaryTitle': 'Safeguard', 'startYear': 2020.0, 'endYear': None, 'runtimeMinutes': 95, 'genre_id': ['Action', 'Adventure', 'Thriller']}, {'tconst': 'tt9916362', 'primaryTitle': 'Coven', 'startYear': 2020.0, 'endYear': None, 'runtimeMinutes': 92, 'genre_id': ['Drama', 'History']})]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [ ]:
engine.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);')

In [ ]:
title_ratings.to_sql('title_ratings',engine,dtype=df_schema,if_exists='replace',index=False)

In [23]:
engine.execute('ALTER TABLE title_ratings ADD PRIMARY KEY (`tconst`);')

OperationalError: (pymysql.err.OperationalError) (1170, "BLOB/TEXT column 'tconst' used in key specification without a key length")
[SQL: ALTER TABLE title_ratings ADD PRIMARY KEY (`tconst`);]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [24]:
title_genres.to_sql('title_genres',engine,dtype=df_schema,if_exists='replace',index=False)

151561

In [25]:
genres.to_sql('genres',engine,dtype=df_schema,if_exists='replace',index=False)

26

In [26]:
engine.execute('ALTER TABLE title_genres ADD PRIMARY KEY (`Genre_ID`);')

OperationalError: (pymysql.err.OperationalError) (1072, "Key column 'Genre_ID' doesn't exist in table")
[SQL: ALTER TABLE title_genres ADD PRIMARY KEY (`Genre_ID`);]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [ ]:
tmdb_data.to_sql('tmdb_data',engine,dtype=df_schema,if_exists='replace',index=False)

In [ ]:
engine.execute('ALTER TABLE tmdb_data ADD PRIMARY KEY (`imdb_id`);')

In [27]:
q='''SHOW TABLES'''

pd.read_sql(q, engine)

  Tables_in_movies
0           genres
1     title_basics
2     title_genres
3    title_ratings
4        tmdb_data